{% extends "layout.html" %}
{% block body %}

{% block content %}
<div class="container-fluid">
    <hr>
    <div class="row">
        <div class="col-md-6 col-md-offset-4">
            <form class="form-horizontal" method="post" action="{{url_for('human_politic', name=human_name)}}">
                <label for="politic">Политика постинга:</label>
                <select name="politic" id="politic">
                    <option>{{politic}}</option>
                    {% for p in politics %}
                    {% if p != politic%}
                    <option id="{{p}}">{{p}}</option>
                    {% endif %}
                    {% endfor %}
                </select>
                <input type="submit" class="btn btn-default btn-sm" value="Постановить">
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <img id='loader-gif' src="{{url_for('static', filename='img/giphy.gif')}}">
        </div>
    </div>
    {% if politic=='work_hard' %}
    <div class="row">
        <div class="col-md-2" id="sequence-manage">
            <div class="container-fluid">
                <h4>Создай новую последовательность:</h4>
                <form method="post" action="{{url_for('sequences_manage', name=human_name)}}" class="form-horizontal">
                    <div class="form-group">
                        <label for="min-sequence-length">Количество постов от:</label>
                        <input class="short" type="number" id="min-sequence-length" name="min-seq-count"
                               value="{{posts_sequence_config.get('min_posts', 70)}}">
                        <br>
                        <label for="max-sequence-length">До:</label>
                        <input class="short" type="number" id="max-sequence-length" name="max-seq-count"
                               value="{{posts_sequence_config.get('max_posts',90)}}">
                        <br>
                        <label for="ae-group">Тип жизни чувака:</label>
                        <select class="short" id="ae-group" name="ae-group">
                            <option>{{ae_group}}</option>
                            {% for group in ae_groups %}
                            {% if group != ae_group%}
                            <option id="{{group}}">{{group}}</option>
                            {% endif %}
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group">
                        <input type="submit" class="btn btn-default" value="Сгенерить!">
                    </div>
                </form>
            </div>
        </div>
        <div class="col-md-10" id="sequence-info">
            <div id="sequence-represent-container">
            </div>
        </div>
    </div>
    <hr>
    {% endif %}
    <div class="row">
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-3">
                    <form action="{{url_for('humans_info', name=human_name)}}" method="post">
                        <input type="hidden" name="start" value="!">
                        <input type="submit" value="Запустить" class="btn btn-info btn-lg">
                    </form>
                </div>

                <div class="col-md-3">
                    <form action="{{url_for('humans_info', name=human_name)}}" method="post">
                        <input type="hidden" name="stop" value="!">
                        <input type="submit" value="Остановить" class="btn btn-danger btn-lg">
                    </form>
                </div>
            </div>
            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    <h2>Параметры жизни чувака: <br>
                        <small><kbd>%</kbd> - параметры предиката для желания. Будет запускаться
                            random(0,<b>{{want_coefficient}}</b>) и если оно больше <kbd>%</kbd> и будет возможность это
                            сделать, то чувак это сделает.
                        </small>
                    </h2>
                    <form action="{{url_for('humans_info', name=human_name)}}" method="post" class="form-horizontal">
                        <div class="form-group">
                            <label for="max_wait_time">Максимальное время ожидания (на любой итерации)</label>
                            <input name="max_wait_time" type="number" value="{{config['max_wait_time']}}"
                                   id="max_wait_time">
                        </div>
                        <div class="form-group">
                            <label for="max_posts_near_commented">Какое максимальное число постов просматривать рядом с
                                комментируемым</label>
                            <input name="max_posts_near_commented" type="number"
                                   value="{{config['max_posts_near_commented']}}"
                                   id="max_posts_near_commented">
                        </div>
                        <div class="form-group">
                            <label for="post_vote">Желание воутить пост <kbd>%</kbd></label>
                            <input name="post_vote" type="number" value="{{config['post_vote']}}" id="post_vote">
                        </div>
                        <div class="form-group">
                            <label for="subscribe">Желание подписаться на саб <kbd>%</kbd></label>
                            <input name="subscribe" type="number" value="{{config['subscribe']}}" id="subscribe">
                        </div>
                        <div class="form-group">
                            <label for="author_friend">Желание зафрендить автора <kbd>%</kbd></label>
                            <input name="author_friend" type="number" value="{{config['author_friend']}}"
                                   id="author_friend">
                        </div>
                        <div class="form-group">
                            <label for="comments">Желание поглядеть комментарии к посту <kbd>%</kbd></label>
                            <input name="comments" type="number" value="{{config['comments']}}" id="comments">
                        </div>
                        <div class="form-group">
                            <label for="comment_mwt">Минимальное время просмотра поста чтобы поглядеть комменты к
                                посту</label>
                            <input name="comment_mwt" type="number" value="{{config['comment_mwt']}}" id="comment_mwt">
                        </div>
                        <div class="form-group">
                            <label for="comment_vote">Желание завоутить коммент <kbd>%</kbd> </label>
                            <input name="comment_vote" type="number" value="{{config['comment_vote']}}"
                                   id="comment_vote">
                        </div>
                        <div class="form-group">
                            <label for="comment_friend">Желание зафрендить автоpа комментария <kbd>%</kbd></label>
                            <input name="comment_friend" type="number" value="{{config['comment_friend']}}"
                                   id="comment_friend">
                        </div>
                        <div class="form-group">
                            <label for="comment_url">Желание потреблять урлы в комментах <kbd>%</kbd></label>
                            <input name="comment_url" type="number" value="{{config['comment_url']}}" id="comment_url">
                        </div>

                        <input type="submit" value="Apply parameters" class="btn btn-lg btn-primary">
                    </form>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="row">
                <h2>Information of <big id="human-name">{{human_name}}</big>
                    <br>
                    <small id="human-live-state">{{human_live_state['human_state']}} [process:
                        {{human_live_state['process_state']}}]
                    </small>
                </h2>
                <div class="accordion" id="info-accordion">
                    <div class="accordion-group">
                        <div class="accordion-heading">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#info-accordion"
                               href="#statistic">
                                <h3> Statistics of human actions:</h3>
                            </a>
                        </div>
                        <div id="statistic" class="accordion-body collapse in">
                            <div class="accordion-inner">
                                <table class="table table-stripped">
                                    {%if human_stat %}
                                    {% for k,v in human_stat.iteritems() %}
                                    <tr>
                                        <th>
                                            {{k}}
                                        </th>
                                        <th>
                                            {{v}}
                                        </th>
                                    </tr>
                                    {% endfor %}
                                    {%else%}
                                    Нет покамест, жди.
                                    {%endif%}
                                </table>
                            </div>
                        </div>
                    </div>

                    <div class="accordion-group">
                        <div class="accordion-heading">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#info-accordion"
                               href="#subs">
                                <h3>Subreddits:</h3>
                            </a>
                        </div>
                        <div id="subs" class="accordion-body collapse">
                            <div class="accordion-inner">
                                <table class="table table-striped">
                                    {% for s in subs %}
                                    <tr>
                                        <td>{{s}}</td>

                                    </tr>
                                    {% endfor %}
                                </table>
                            </div>
                        </div>
                    </div>

                    <div class="accordion-group">
                        <div class="accordion-heading">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#info-accordion"
                               href="#friends">
                                <h3>Friends:</h3>
                            </a>
                        </div>
                        <div id="friends" class="accordion-body collapse">
                            <div class="accordion-inner">
                                <table class="table table-striped">
                                    {% for friend in friends %}
                                    <tr>
                                        <td>{{friend}}</td>
                                    </tr>
                                    {% endfor %}
                                </table>
                            </div>
                        </div>
                    </div>

                    <div class="accordion-group">
                        <div class="accordion-heading">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#info-accordion"
                               href="#s_subs">
                                <h3>Subscribed subs:</h3>
                            </a>
                        </div>
                        <div id="s_subs" class="accordion-body collapse">
                            <div class="accordion-inner">
                                <table class="table table-striped">
                                    {% for s in ss %}
                                    <tr>
                                        <td>{{s}}</td>
                                    </tr>
                                    {% endfor %}
                                </table>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="row">
                <hr>
                <h3>Задавай идентификатор канала:</h3>
                <div class="col-md-10">
                    <label for="channel-id-input">Channel id:</label>
                    <input type="text" id="channel-id-input" value="{{channel_id}}">
                    <button type="button" class="btn btn-warn btn-sm" onclick="update_channel_id('{{human_name}}')">
                        Update
                    </button>
                    <div id="channel-id-update-result"></div>
                </div>
            </div>
            <div class="row">
                <hr>
                <div class="col-md-10">
                    <a href="{{url_for('queue_of_posts', name=human_name)}}">Смотри какие посты в очереди
                    </a>
                </div>
            </div>
            <div class="row">
                <hr>
                <div class="col-md-10">
                    <a href="{{url_for('queue_of_comments', name=human_name)}}">Смотри какие комменты в очереди
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <h3>human log (last 100 actions):</h3>
        </div>
        <table class="table table-striped">
            <tbody>
            {%for row in human_log%}
            <tr>
                <th class="col-md-2">
                    {{row.get("action")}}
                </th>
                <th class="col-md-8">
                    {% if "permalink" in row.get("info") %}
                    <a href="{{row.get('info')['permalink']}}" target="_blank">{{row.get('info')}}</a>

                    {%elif "fullname" in row.get("info")%}
                    <a href="https://redd.it/{{row.get('info')['fullname'][3:]}}"
                       target="_blank">{{row.get('info')}}</a>

                    {%elif "url" in row.get("info")%}
                    <a href="{{row.get('info')['url']}}" target="_blank">{{row.get('info')}}</a>

                    {%else%}
                    {{row.get("info")}}
                    {%endif%}
                </th>
                <th class="col-md-2">
                    {{row.get("time") | tst_to_dt }}
                </th>
            </tr>
            {% endfor %}
            </tbody>
        </table>

    </div>
</div>
<script src="{{url_for('static',filename='js/humans-script.js')}}"></script>
{%if politic == "work_hard"%}
<script src="{{url_for('static',filename='js/sequences-script.js')}}"></script>
<script>
    $(function(){
        show_sequences('{{human_name}}');
    });


</script>
{% endif %}
{% endblock %}

{% endblock %}