{% extends "layout.html" %}
{% block body %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <h1>Очередь постов для {{human_name}}
                <small><a href="{{url_for('humans_info', name=human_name)}}">[к управлению]</a></small>
            </h1>
            <br>
            <hr>

            <div class="posts_containers">


                <div class="row">
                    <div class="col-md-6 col-md-offset-4">
                        <h3>Всего
                            <small>({{queue | length}})</small>
                            :
                        </h3>
                    </div>
                </div>


                <table class="table table-stripped table-hover table-condensed">
                    <thead>
                    <tr>
                        <td>url</td>
                        <td>for sub</td>
                        <td>important</td>
                        <td>channel id</td>
                        <td>when found</td>
                    </tr>
                    </thead>
                    <tbody>
                    {% for post in queue %}
                    <tr id="{{post['url_hash']}}">
                        <td>
                            <a href="{{post['url']}}" target="_blank">{{post['title']}}</a>
                        </td>
                        <td>
                            {{post['for_sub']}}
                        </td>
                        <td>
                            {{post['important']}}
                        </td>
                        <td>
                            {{post['channel_id']}}
                        </td>
                        <td>
                            {{post['time'] | tst_to_dt}}
                        </td>

                    </tr>
                    {% endfor %}
                    </tbody>
                </table>


            </div>

        </div>

    </div>

</div>
{% endblock %}
{% endblock %}